# Python Basics Assignment

### Question 1
Write a function to compute number of vowels in a string given as input

In [9]:
# Your code here
def vowels():
  x = input("enter a string: ")
  count = 0
  vowels = "aeiouAEIOU"
  for char in x:
    if char in vowels:
      count = count + 1
  print(count)
vowels()

enter a string: orange
3

### Question 2
Write a function that checks whether a number is prime.

In [16]:
# Your code here
def prime_number():
  x = int(input("enter a number: "))
  if x > 1:
    for i in range(2, x):
      if (x % i) == 0:
        print(x,"is not a prime number")
        break
    else:
      print(x,"is a prime number")
prime_number()

enter a number: 12
12 is not a prime number

### Question 3
Write a function to return the maximum of two numbers.

In [18]:
# Your code here
def max():
  a = int(input("enter first number: "))
  b = int(input("enter second number: "))
  if a > b:
    print(a,"is greater than b")
  else:
    print(b,"is greater than a")
max()

enter first number: 12
enter second number: 2
12 is greater than b

### Question 4
Write a function to return the factorial of a number.

In [20]:
# Your code here
def factorial():
    x = int(input("enter a number: "))
    fact = 1
    for i in range(1, x+1):
      fact = fact * i
    print(fact)
factorial()

enter a number: 5
120

### Question 5
Write a function to reverse a string without string indexing.

In [47]:
# Your code here
def rev_string():
  str = input("enter a string:")
  x = str
  n = reversed(x)
  for i in n:
    print(i,end ="")
rev_string()

enter a string:Angel
legnA

### Question 6
Write a function to check if a string is a palindrome.

In [29]:
# Your code here
def your_function_6():
  x = input("enter a string: ")
  if x == x[::-1]:
    print("string is a palindrome")
  else:
    print("string is not a palindrome")
your_function_6()

enter a string: malayalam
string is a palindrome

### Question 7
Write a function to count vowels in a string.

In [31]:
# Your code here
def vowels():
  x = input("enter a string: ")
  count = 0
  vowels = "aeiouAEIOU"
  for char in x:
    if char in vowels:
      count = count + 1
  print(count)
vowels()

enter a string: animal
3

### Question 8
Write a function that returns the sum of a list.

In [35]:
# Your code here
def list():
  x = [1,2,3,4,5]
  total = sum(x)
  print(total)
list()

15

### Question 9
Write a function to find the smallest number in a list.

In [38]:
# Your code here
def your_function_9():
    x = [1,2,3,4,5]
    print(min(x))
your_function_9()

1

### Question 10
Write a function to remove duplicates from a list.

In [52]:
# Your code here
def list():
  x = [1,2,2,3]
  y = []
  for i in x:
    if i not in y:
      y.append(i)
  print(y)
list()

[1, 2, 3]

### Question 11
Write a function to sort a list in ascending order without using builtin sort function

In [54]:
# Your code here
def your_function_11():
    x = [1,12,50,9,10]
    print(x)
    for i in range(len(x)):
      for j in range(i + 1, len(x)):
        if x[i] > x[j]:
          x[i], x[j] = x[j], x[i]
    print(x)
your_function_11()

[1, 12, 50, 9, 10]
[1, 9, 10, 12, 50]

### Question 12
Write a function that returns the length of a string.

In [56]:
# Your code here
def your_function_12():
    x = input("enter a string: ")
    print(len(x))
your_function_12()

enter a string: car
3

### Question 13
Write a function to count words in a sentence.

In [58]:
# Your code here
def your_function_13():
    x = input("enter a sentence: ")
    print(len(x.split()))
your_function_13()

enter a sentence: hello world
2

### Question 14
Write a function to convert Celsius to Fahrenheit.

In [60]:
# Your code here
def your_function_14():
    celsius = float(input("enter temp in celsius: "))
    fahrenheit = (celsius * 9/5) + 32
    print(fahrenheit)
your_function_14()

enter temp in celsius: 70
158.0

### Question 15
Write a function to check if a number is palindrome.

In [65]:
# Your code here
def your_function_15():
    x = input("enter a number: ")
    if x == x[::-1]:
      print("number is a palindrome")
    else:
      print("number is not a palindrome")
your_function_15()

enter a number: 121
number is a palindrome

### Question 16
Write a function to return all even numbers in a list.

In [77]:
# Your code here
def your_function_16():
   x = [1,2,4,6,12,13,15]
   y = []
   for i in x:
    if i % 2 == 0:
      y.append(i)
   print(y)
your_function_16()

[2, 4, 6, 12]

### Question 17
Write a function to return the nth Fibonacci number.

In [96]:
# Your code here
def fibonacci(n):
  a = 0
  b = 1
  for i in range(n):
    a ,b = b, a + b
  return a
fibonacci(7)

13

### Question 18
Write a function to calculate the average of a list.

In [78]:
# Your code here
def your_function_18():
    x = [1,2,3,4,5]
    print(sum(x)/len(x))
your_function_18()

3.0

### Question 19
Write a function that returns a dictionary of character counts.

In [99]:
# Your code here
def your_function_19():
  x = input("Enter a string: ")
  y = {}
  for i in x:
    if i in y:
      y[i] += 1
    else:
      y[i] = 1
  return y

your_function_19()

Enter a string: welcome

{'w': 1, 'e': 2, 'l': 1, 'c': 1, 'o': 1, 'm': 1}

### Question 20
Write a function that returns True if all list elements are unique.

In [83]:
# Your code here
def your_function_20():
    x = [1,2,3,4,5]
    y = []
    for i in x:
      if i not in y:
        y.append(i)
    if len(x) == len(y):
      print("true")
    else:
      print("false")
your_function_20()

true

### Question 21
Write a function that returns dot product of two list of numbers

In [85]:
# Your code here
def your_function_21():
    x1 , y1 = [2,4]
    x2 , y2 = [1,2]
    dot_product = x1*x2 + y1*y2
    print("dot_product:",dot_product)
your_function_21()

dot_product: 10

### Question 22
Write a function that returns the projection of vector a onto vector b. Both a and b are given as list of numbers

In [88]:
# Your code here
def your_function_22():
    x = [12,16]
    y = [4,8]
    dot_product = x[0]*y[0] + x[1]*y[1]
    magnitude_b = (y[0]**2 + y[1]**2)**0.5
    projection = (dot_product / magnitude_b)
    print("projection: %.2f"%projection)
your_function_22()

projection: 19.68

### Question 23
Write a function to return common elements between two lists.

In [91]:
# Your code here
def your_function_23():
    x = [1,2,3,4,5]
    y = [3,4,5,6,7]
    common = []
    for i in x:
      if i in y:
          common.append(i)
    print("common",common)
your_function_23()

common [3, 4, 5]

### Question 24
Create a class Vector that supports addition, dot product, and magnitude.

In [103]:
# Your code here
def your_function_24():
    pass

### Question 25
Implement a function to return all outliers in a list based on the IQR method.

In [109]:
# Your code here
def your_function_25():
    n = [10,20,30,40,50]
    Q1 = int(25/100 * len(n)+1)
    Q3 = int(75/100 * len(n)+1)
    print("Q1 : ",n[Q1-1])
    print("Q3 : ",n[Q3])
    IQR = n[Q3] - n[Q1-1]
    print("IQR : ",IQR)
    LB = n[Q1-1] - (1.5 * IQR)
    print("Lower bound : ",LB)
    UB = n[Q3] + 1.5 * IQR
    print("Upper bound : ",UB)
    outliers = []
    for i in n:
        if i < LB or i > UB:
            outliers.append(i)
    if outliers:
        return outliers
    else:
        return None
print("Outliers:", your_function_25())

Q1 :  20
Q3 :  50
IQR :  30
Lower bound :  -25.0
Upper bound :  95.0
Outliers: None

### Question 26
Function with default arguments:
Create a function to compute variance with an option to use sample or population formula

In [ ]:
# Your code here
def your_function_26():
    pass

### Question 27
Create a list of squares of even numbers between 1 and 20 using list comprehension.

In [107]:
# Your code here
def your_function_27():
    squares = [x**2 for x in range(1,21) if x%2==0]
    return squares

print(your_function_27())

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Question 28
Write a function that returns the L1 and L2 norms of a vector given as list

In [ ]:
# Your code here
def your_function_28():
    pass

### Question 29
Write a function that computes the 95% confidence interval for the mean of a list of numbers assuming normal distribution.

In [ ]:
# Your code here
def your_function_29():
    pass

### Question 30
Given a list of categorical values, create a frequency distribution dictionary.

In [ ]:
# Your code here
def your_function_30():
    pass